.git
.gitignore
README.md
Dockerfile
.dockerignore
build-docker.sh
deploy.sh
stop.sh
*.sh
!target/*.jar
target/classes
target/maven-archiver
target/maven-status
target/xx-rag-0.0.1-SNAPSHOT
!target/xx-rag-0.0.1-SNAPSHOT.jar
logs/
.DS_Store